:root{
    --header-color:#414141;
    --link-primary:#fcdd50;
    --gradiente-banner:linear-gradient(to bottom,white,#FFD700);
    --link-banner:#FFC300;
    --primary-color:#F5F5F5;
    --backgroud-card: white;
    --primary-text:white;
}
body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    max-width: 80rem;
    box-sizing: border-box;
    background-color: var(--primary-color);
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    left: 0;

}
.header__nav{
    margin: 0;
    align-self: center;
}
.header__nav-itens{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
}

.header__nav-link{
    text-decoration: none;
    color: var(--link-primary);
    outline: var(--link-primary) 1px solid;
    padding: .8rem;
    text-transform: uppercase;
    transition: 1.5s;

}

.header__nav-link:hover{
    font-size: 1.2rem;
    background-color: var(--link-primary);
    color: var(--header-color);
    text-decoration: underline;
}

.main__about{
    display: flex;
    background: var(--gradiente-banner);
}

.main__about-content{
    align-self: center;
    padding: 2rem;
}

.main__about-title{
    font-size: 3.5rem;
    
}
.main__about-link, .main__courses-link{
    text-decoration: none;
    color: black;
    background-color: var(--link-banner);
    padding: 1rem;
    text-transform: uppercase;
}

.main__courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    
}
.main__courses-title{
    font-size: 2rem;
}

.main__course-article{
    background: var(--backgroud-card);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
    
}
.main__course-text{
    margin-top: 0;
    padding: 1rem;
}
.main__course-item{
    display: flex;
    gap: 1rem;

}

.main__course-img{
    object-fit: contain;
    display: block;
    max-width: 100%;
}

.main__course-title{
    margin-top: 0;
}

.main__school{
    display: flex;
    background-color: darkblue;
    padding: 2rem;
    padding-bottom: 0;
    color: var(--primary-text);
    gap: 1rem;
    
}
.main__school-image{
    margin-bottom: 0;
}
.main__school-info{
    align-self: center;
}
.main__school-title{
    font-size: 2.5rem;
}

.main__contacts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem auto;
    max-width: 70rem;

}
.main__contacts-title{
    font: 2.5rem;
}
.main__contacts-img{
    object-fit: contain;
    max-width: 100%;
    display: block;
}
.main__contacts-text{
    align-self: flex-end;
}

.footer{
    background-color: var(--header-color);
    color: var(--primary-text);
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.footer-text{
    text-transform: uppercase;
}