body{
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333333;
    color: white;
}


.header{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.header__logo{
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
}

.header__nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__nav-link{
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 10px;
    color: white;
    
}

.header__nav-link:hover{
    background-color: #809b00;
    text-decoration: underline;
    color: black;
}

.main{
    display: flex;
    justify-content: center;
    
    height: 80vh;
}

.main__title{
    font-size: 5rem;
    text-align: center;
    
}

.main__plans{
    display: flex;
    gap: 20px;
}

.main__article{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    justify-content: space-between;
    
    
}
.main__article-header{

    border-bottom: #809b00 2px solid;
}
.main__article-title{
    margin: 0 ;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
}

.main__article-price{
    margin-top: 10px;
    font-size: 30px;
}

.main__article-unit{
    font-size: 14px;
}

.main__article-list{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
    
    
}

.main__article-item{
    margin-bottom: 15px;
}

.main__article-item::before{
    content: " ";
    display: inline-block;
    width: 7px; 
    height: 7px; 
    background-color:#809b00 ; 
    border-radius: 50%; 
    margin-right: 5px;
}

.main__article-footer{

    text-align: center;
    
    
}

.main__article-link{
    display: inline-block;
    background-color: #809b00;
    color: white;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.main__article-link:hover{

    background-color: #333333;
    color: #809b00;
    
    
}

