
.px{
    font-size: 16px;
}
/* Pixel deve ser evitado ser utilizando em tamanhos de textos ou layouts pois por se uma unidade absoluta  ele não se adpatar bem as mundaças 

Ex: textos caso vc tenha configurado para ter uma  tamanho de letra maior no seu navegar o pixel pode acabar sobrescrevendo

Ja para pequanso padding ou marge ate box shadow vc pode usar tranquilo

*/


.em{
    font-size:  1em;

    /* Em e uma unidade que se adpatar ajuste do usario como por exmeplo o tamanho do texto
    
    ela relativo ao tamanho  fonte do elemento pai

    se utilizar o em em outra propriedade que não seja font ele  ira se basear na font do proprio elemento
    */
}

.rem{

    font-size: 1rem;

    /* basicamente mesma coisa da em  porem ela e relativa ao elemento root ou seja ao tamanho da font do html*/
}

.porc{
    font-size: 100%;

    /* E relativa ao tamanho da largura do elemento pai */
    /* no caso font e a font mesmo */
    /* % não funciona bem com heigth pois elemento precisa ter algum tamanho fixo  */

    /* %  entre outros elemento que não seja a font e referente a largura do elemento pai  */
}

.vwh{
        font-size: 1.6vh;   
        /* Se basea no tamanho da tela */
}

/* Existe tbm unidade de medida ch que se basea no numero de caracter*/